@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: hsl(217deg, 54%, 11%);
  display: grid;
  place-content: center;
  grid-template-columns: min(30rem, 90%);
  grid-template-rows: 50rem;
  position: relative;
}
.container .mid-bg {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 33rem;
  height: 50rem;
  border-radius: 5px 5px 5rem 5rem;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.1);
}
.container .bottom-bg {
  position: absolute;
  position: absolute;
  top: 53%;
  left: 50%;
  width: 36rem;
  height: 60rem;
  border-radius: 6rem;
  transform: translate(-50%, -50%);
  background-color: hsl(216deg, 45%, 16%);
  opacity: 0.2;
}
.container .component {
  padding: 2rem;
  display: grid;
  grid-row-gap: 2rem;
  place-items: center;
  border-radius: 15px;
  background-color: hsl(216deg, 50%, 16%);
  position: relative;
}
.container .component-images {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.container .component-images:hover .component-overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.container .component-img-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.container .component-img-wrapper img {
  width: 100%;
}
.container .component-overlay {
  cursor: pointer;
  background-color: rgba(0, 255, 247, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  border-radius: 10px;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.container .component-content {
  display: grid;
  grid-row-gap: 1.5rem;
  z-index: 100;
}
.container .component-title {
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: color 0.2s;
  cursor: pointer;
}
.container .component-title:hover {
  color: hsl(178deg, 100%, 50%);
}
.container .component-infos {
  display: flex;
  justify-content: space-between;
}
.container .component-text {
  color: hsl(215deg, 51%, 70%);
  font-size: 1.3rem;
  font-weight: 300;
  word-spacing: 0.2rem;
  line-height: 1.5;
}
.container .component-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .component-left h4 {
  margin-left: 0.5rem;
  color: hsl(215deg, 51%, 70%);
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.2s;
  cursor: pointer;
}
.container .component-left h4:hover {
  color: hsl(178deg, 100%, 50%);
}
.container .component-left img {
  width: 0.8rem;
  height: 1.3rem;
}
.container .component-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .component-right h4 {
  margin-left: 0.5rem;
  color: hsl(215deg, 51%, 70%);
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.container .component-right img {
  width: 1.3rem;
  height: 1.3rem;
}
.container .component-line {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(139, 172, 218, 0.2);
}
.container .component-profile {
  width: 100%;
  display: flex;
  align-items: center;
}
.container .component-profile-img-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  margin-right: 1.5rem;
  position: relative;
  border-radius: 50%;
  border: 0.15rem solid hsl(0deg, 0%, 100%);
}
.container .component-profile-img-wrapper img {
  width: 100%;
  height: 100%;
  position: relative;
}
.container .component-profile p {
  color: hsl(215deg, 51%, 70%);
  font-size: 1.2rem;
}
.container .component-profile p span {
  color: hsl(0deg, 0%, 100%);
  transition: color 0.2s;
  cursor: pointer;
}
.container .component-profile p span:hover {
  color: hsl(178deg, 100%, 50%);
}
