@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@300;400;600&display=swap");

$color-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-dark-blue-main: hsl(217, 54%, 11%);
$color-dark-blue-card: hsl(216, 50%, 16%);
$color-dark-blue-line: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontStyles($font-weight: 400) {
  margin-left: 0.5rem;
  color: $color-blue;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-weight: $font-weight;
}

@mixin hoverCyan {
  transition: color 0.2s;
  cursor: pointer;
  &:hover {
    color: $color-cyan;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}
